<div class="container section-promo" id="promo">
	<div class="promo">
		<h4>40% de descuento en nuestros siguientes productos</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt quisquam nesciunt sint</p>
		<button class="button-bordered green-button mid-button">ยก Comprar ahora !</button>
	</div>
</div>
<div class="popular-post section" id="popular">
	<div class="container">
		<div class="section-head">
			<h4>Nuestros productos</h4>
			<a onclick="get_products();" class="button-bordered green-button full-button">Ver mas productos</a>
			<a onclick="my_products('layout-div');" class="button-bordered green-button full-button">Mis productos</a>
		</div>
	</div>
</div>
<div class="post">
	<div class="container">
		<br/>
		<div class="clear-both"></div>
		<div class="post-content">
			<div class="row" id="productos">
				{{#each productos}}
				<div class="col s6" style="margin-top:10px;">
					<div class="content">
						<div class="get-p{{Id}}">
							<img id="img{{Id}}" src="data:image/png;base64,{{img}}" alt="">
						</div>
						<h3><a href="" class="truncate-text">{{nombre}}</a></h3>
						{{#if descuento}}
						<div class="price">de <span>${{precio}}</span> a ${{precio_final}}</div>
						{{else}}
						<div class="price"> ${{precio_final}}</div>
						{{/if}}
						<div id="descripccion{{Id}}" data-v="{{descripccion}}"></div>
						<center>
						<a class="button-bordered gold-button button-90" onclick="add_product_selection_to_data_base({{Id}},'{{color1}}','{{nombre}}')"><i class="fa fa-shopping-cart"></i> Agregar</a>
						<div id="favorite-{{Id}}">
							<script type="text/javascript">
								$(document).ready(function(){
								favotied('{{Id}}');
								});
							</script>
						</div>
						</center>
					</div>
				</div>
				<script>
				$(".get-p{{Id}}").click(function(){
					show_ajax();
					var des = $('#descripccion{{Id}}').data('v');
					var producto = {
						'Id': "{{Id}}",
						'nombre': "{{nombre}}",
						'precio': "{{precio}}",
						'precio_final': "{{precio_final}}",
						'descripccion': des,
						'descuento': "{{descuento}}",
						'nombre_cientifico': "{{{nombre_cientifico}}}",
						'img': "{{img}}",
						"color1": "{{color1}}",
						"color2": "{{color2}}",
						"color3": "{{color3}}",
						"color4": "{{color4}}",
						"color5": "{{color5}}"

					}
					hide_ajax();
					console.log(producto);
					loadView(producto,'view_product','layout-div');
					});
				</script>
				{{/each}}
			</div>
		</div>
		<a onclick="get_products();" class="button-bordered green-button full-button">Ver mas productos</a>
	</div>
</div>
<script src="js/materialize.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/fakeLoader.min.js"></script>
<script src="js/main.js"></script>
<!-- end popular post -->
<!-- promo -->